[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = ParisaNazarijam
	email = 45975773+ParisaNazarijam@users.noreply.github.com
