html{height: 100%;}

* {margin: 0;
   padding: 0;}

body {
      font: .6em arial, sans-serif;
     
      background-color: #ffffff;
}
#mainbody{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}

.tableau_sections{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}




.google_sections{
	width: 1000px;
	float:left;

}

#center_odd{
	
	width: 100%;
	float: left;
	background-color:#FFFFFF;
	display: inline-block;
	border-top: 2px black solid;
}

#center_even{
	width: 100vw;
	height: 100%;
	float: center;
	background-color:#FFFFFF;
	border-top: 2px black solid;
}

#google_column_chart_div{
	float:left;
	width: 50px;


}



h1, h2, h3, h4, h5, h6 {	
	font: normal 150% 'Times New Roman', Times, serif;
	font-size: 2.2em;
	color: #000000;
	text-align: center;
}

#sidebar_left {
	float: left;
	width: 80vw;
} 

.btn-group{
	display:block;
	width:80vw;
	padding: 5px 5 5 5;
	margin:10px; 
        float:right;
	margin-top:-550px;
}

.silver-flat-button {
  position: relative
  vertical-align: bottom;
  width: 120px;
  height: 50px;
  padding: 0;
  font-size: 14px;
  color:black;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #F3E6D8;
  border: 0;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #000000;
  box-shadow: inset 0 -2px #000000;
  margin-left:1200px;
  margin-bottom: 10px;
    box-shadow:5px 9px 20px black;
}
.silver-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#world-button{
	margin-left:30px;
	margin-right: auto;
	font-weight: bold;
}
#homepage{
	width: 200px;
	height: 50px;
	margin-left:550px;
	box-shadow:10px 10px 30px black;	
}
#pieChart_left {
    float: left;
    width: 70vw;
}
