body {
  font-family:sans-serif;	
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2em;
  background-image: url("Earth.jpg");
  background-size: 1400px 1000px;
}



html{height: 100%;}

* {margin: 0;
   padding: 0;}

body {
	font: normal .78em arial, sans-serif;

}



h1, h2, h3, h4, h5, h6 
{	
	font: normal 150% 'Times New Roman', Times, serif;
	font-size: 1.58em;
	color: #ffffff;
	text-align: center;
}



h2 
{	
	font-size: 1.45em;
	font-family: "Times New Roman", Times, serif;
	margin-left: 30px;
	margin-right: 20px;
}
h3{
	font-size: 1.45em;
	font-family: "Times New Roman", Times, serif;
	margin-right: auto;
}




#home-top h2,ul{
	text-align: left;
	
}

#mainbtngroup{
	margin-left:auto;
	margin-right: auto;
	font-weight: bold;
}
#World{
	width: 200px;
	height: 50px;
	margin-left:450px;
	box-shadow:10px 9px 30px black;	
}

#homepage-body{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

#homepage-top{
	font-size: 15px;
	width: 1100px;
	height: 600px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	line-height: 2;
	box-shadow:10px 9px 30px black;
	background-color: #262626;
	text-shadow: 2px 2px 4px #000000;
	opacity: 0.6;
    	filter: alpha(opacity=50);
}
#objective{
	font-family: "Times New Roman", Times, serif;
	font-size: 1.12em;
	font-weight: bold;
	margin-right: 100px;
    	margin-left: 120px;
	color: #ffffff;
}

